.dark-theme {
  // App background color
  $background-color-dark-theme: #000000;
  $background-secondary-dark-theme: #2b2a2a;

  $toolbar-background-dark-theme: #000000;

  // Item list background color
  $list-background-color-dark-theme: #000000;
  $feather-dark: #f8f8f9;
  $feather: #fbfbff;
  // Main color
  $text-color-dark-theme: white;
  // Home Messages
  $message-background-dark-theme: #121212;

  @mixin transition {
    transition: background-color, color, 250ms cubic-bezier(0, 0, 0.3, 0.3) !important;
  }

  // This is just to make a smooth transition between themes
  page-settings {
    .content-ios .toolbar-background-ios {
      @include transition();
    }

    .toolbar-background-md {
      @include transition();
    }

    .toolbar-title {
      @include transition();
    }

    .header .toolbar-background {
      @include transition();
    }

    // Lists -----
    .bp-list {
      .item {
        &.item-ios,
        &.item-md {
          @include transition();
        }
      }
    }
  }

  .tabs-md,
  .tabs-ios {
    .tabbar {
      @include transition();
    }
  }

  // General -----
  ion-content {
    background-color: $background-color-dark-theme;
    color: $text-color-dark-theme;
  }

  .content-ios .toolbar-background-ios {
    background: $background-color-dark-theme;
  }

  .wide-header__title {
    color: $text-color-dark-theme;
    background: $background-color-dark-theme;
  }

  wide-header-page,
  card-catalog-page {
    .wide-header {
      .toolbar-background {
        background: $toolbar-background-dark-theme;
      }
    }
  }

  .item-divider-md,
  .item-divider-ios {
    background-color: $background-color-dark-theme;
  }

  .toolbar-background-md,
  .toolbar-background-ios {
    background: $background-color-dark-theme;
    color: $text-color-dark-theme;
  }

  .toolbar-content-md,
  .toolbar-content-ios {
    color: $text-color-dark-theme;
  }

  .toolbar-title {
    color: $text-color-dark-theme;
  }

  .header .toolbar-background {
    background-color: $background-color-dark-theme;
  }
  .tabs-md,
  .tabs-ios {
    .tabbar {
      background: $background-color-dark-theme;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #434c5a;
  }
  .swiper-pagination-bullet {
    background-color: #4f4f4e;
  }

  button.item.activated,
  .item-md.activated {
    background-color: #4f4f4e;
  }

  .header-extend {
    background: $toolbar-background-dark-theme;
  }

  .gift-card-content {
    .header-extension {
      background: $toolbar-background-dark-theme;
    }
  }

  ion-searchbar {
    .searchbar-input-container {
      input.searchbar-input {
        background: $message-background-dark-theme;
        color: $text-color-dark-theme;
      }
    }
  }
  search-bar {
    background: $background-color-dark-theme;
    ion-input {
      background: $message-background-dark-theme;
      color: $text-color-dark-theme;
    }
  }

  // all content without menu
  ion-content.add-bottom-safe-area {
    .fixed-content,
    .scroll-content {
      background: $background-color-dark-theme;
    }
  }

  // expandable views
  ion-content.add-padding-bottom,
  .add-padding-bottom ion-content {
    .fixed-content,
    .scroll-content {
      background: $background-color-dark-theme;
    }
  }

  // Lists -----
  .bp-list {
    .item {
      &.item-ios,
      &.item-md {
        border: 0;
        background-color: $background-color-dark-theme;
        color: $text-color-dark-theme;
      }
    }
    .main-label,
    .main-note,
    .status .royal {
      color: $text-color-dark-theme;
    }

    ion-item-divider {
      background: $background-secondary-dark-theme;
    }

    .summary-item-detail {
      color: $text-color-dark-theme;
    }

    .total-amount {
      color: $text-color-dark-theme;
    }
  }

  // Card
  action-card-v4.card {
    background-color: $background-secondary-dark-theme;
    .action-card__content {
      background-color: $background-secondary-dark-theme;
      .action-card__title {
        color: $text-color-dark-theme;
      }
    }
  }
  action-card.card {
    background: $background-secondary-dark-theme;
    .action-card {
      &__content {
        background: $background-secondary-dark-theme;
      }
    }
  }
  page-cards {
    .card-item {
      background: $background-color-dark-theme;

      &.light {
        color: $text-color-dark-theme;

        .card {
          .funds {
            color: $text-color-dark-theme;
          }

          box-shadow: 0 1px 12px rgba(255, 255, 255, 0.07);
        }

        .slit {
          box-shadow: 0 2px 24px 0 rgba(255, 255, 255, 0.09);
        }
      }

      .slit {
        box-shadow: 0 -3px 24px 0 rgba(255, 255, 255, 0.26);
      }
    }
  }

  add-button {
    .add-button {
      &__icon {
        filter: invert(1);
      }

      &__text {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  // Pages ----
  // Tab Home ----
  page-home {
    .total-amount-container {
      .total-amount-value {
        color: $text-color-dark-theme;
      }
    }

    .message {
      &-background {
        background-color: $message-background-dark-theme;
      }
    }
  }

  // Tab Wallets ------
  page-wallets {
    .collapse > .collapse-btn {
      background: $background-secondary-dark-theme;
    }
    .section-header {
      border-bottom: 1px solid #434d5a;
    }
  }
  page-proposals-notifications {
    .txps-status {
      .card {
        background-color: $background-secondary-dark-theme;
        color: $text-color-dark-theme;
      }
    }
  }
  page-txp {
    .item {
      &.item-ios,
      &.item-md {
        background-color: $background-secondary-dark-theme;
        color: $text-color-dark-theme;
      }
    }
    ion-note .amount {
      color: $text-color-dark-theme;
    }
  }
  page-txp-details {
    .proposal-deletion {
      background-color: $background-color-dark-theme;
    }

    .proposal-rejection {
      background-color: $background-color-dark-theme;
    }
    .timeline-item {
      background-color: $background-color-dark-theme;
    }
    ion-note.note {
      .wallet {
        .note-container {
          color: $text-color-dark-theme;
        }
      }
      // background: $background-secondary-dark-theme;
    }
  }

  page-confirm,
  confirm-card-purchase-page,
  page-txp-details,
  page-tx-details,
  page-bitpay-card-topup {
    .payment-proposal-to {
      background-color: $background-secondary-dark-theme;
      color: $text-color-dark-theme;
    }
  }

  // Tab Cards ------

  // Tab Settings ------
  page-settings,
  page-about {
    .bp-list {
      ion-note.note {
        background: $background-secondary-dark-theme;
        color: color($colors, light-grey);
      }
      .icon-qrcode {
        filter: invert(1);
      }
      .create-button {
        color: color($colors, primary);
      }
    }
  }
  page-alt-currency,
  page-key-settings,
  page-wallet-information,
  page-wallet-addresses,
  page-wallet-settings {
    .bp-list.settings-list {
      ion-item.item,
      button.item {
        .item-inner {
          ion-note.note {
            background: $background-secondary-dark-theme;
            color: color($colors, light-grey);
          }
        }
      }
    }
  }
  page-addressbook-add,
  page-join-wallet {
    ion-item {
      background: $background-color-dark-theme;
      color: color($colors, light-grey);
    }
  }
  page-wallet-addresses {
    button.item {
      background: $background-color-dark-theme;
    }
  }

  page-scan {
    .page-scan-has-problems {
      background-color: $toolbar-background-dark-theme;
      .body {
        background-color: $toolbar-background-dark-theme;
        div {
          color: $toolbar-background-dark-theme;
        }
      }
    }
  }

  page-simplex {
    .buy-crypto-button {
      color: $text-color-dark-theme;
    }
  }
  page-add,
  page-select-currency,
  page-coin-selector,
  select-invoice-page {
    .list-button {
      .item-title {
        color: $text-color-dark-theme;
      }
      .item-subtitle {
        color: color($colors, light-grey);
      }
    }
  }
  page-import-wallet,
  page-create-wallet {
    ion-item {
      background: $background-color-dark-theme;
      color: $text-color-dark-theme;
    }
  }
  page-send-feedback {
    .msg-to-user {
      background: $background-color-dark-theme;
      .feedback-title {
        color: $text-color-dark-theme;
      }
      .feedback-msg {
        color: $text-color-dark-theme;
      }
    }
    .user-feedback-card {
      background-color: $background-secondary-dark-theme;
      .user-feedback-title {
        color: $text-color-dark-theme;
      }
    }
  }
  page-key-onboarding,
  page-new-design-tour {
    .key-onboarding-slides,
    .new-design-tour-slides {
      ion-slide {
        background: linear-gradient(to bottom, #000000, #101010 80%);
      }
      .slide-info {
        background: $background-color-dark-theme;
        .info {
          .title {
            color: $text-color-dark-theme;
          }
          .text {
            color: color($colors, light-grey);
          }
        }
      }
    }
  }
  page-backup-key,
  page-backup-game {
    ion-content.content {
      background: $background-color-dark-theme;
    }
    .key-container,
    .grid-container > .key-container {
      .word-container,
      .word-container > .word-slides {
        .word-title {
          color: $text-color-dark-theme;
        }
        .word {
          background: $background-secondary-dark-theme;
          color: $text-color-dark-theme;
          .dash-line {
            border-bottom: 1px color($colors, light-grey) dashed;
          }
        }
      }
    }
    .grid-container > .mnemonic-words-container {
      .mnemonic-words {
        .words {
          .button {
            background-color: $background-secondary-dark-theme;
            color: $text-color-dark-theme;
          }
        }
      }
    }
  }

  // Components -----

  action-sheet {
    .action-sheet {
      background: $background-secondary-dark-theme;
      .bp-list {
        .item {
          &.item-ios,
          &.item-md {
            background-color: $background-secondary-dark-theme;
            color: $text-color-dark-theme;
          }
        }
      }
    }
  }
}
