.dark-theme {
  // App background color
  $background-color-dark-theme: #000000;
  $background-secondary-dark-theme: #2b2a2a;

  // Item list background color
  $list-background-color-dark-theme: #000000;
  $feather-dark: #f8f8f9;
  $feather: #fbfbff;
  // Main color
  $text-color-dark-theme: white;
  // Home Messages
  $message-background-dark-theme: #121212;

  @mixin transition {
    transition: background-color, color, 250ms cubic-bezier(0, 0, 0.3, 0.3) !important;
  }

  // General -----
  ion-content {
    background-color: $background-color-dark-theme;
    color: $text-color-dark-theme;
  }

  .wide-header__title {
    color: $text-color-dark-theme;
    background: $background-color-dark-theme;
  }

  .item-divider-md,
  .item-divider-ios {
    background-color: $background-color-dark-theme;
  }

  .toolbar-background-md {
    background: $background-color-dark-theme;
    color: $text-color-dark-theme;
    @include transition();
  }

  .toolbar-title {
    color: $text-color-dark-theme;
    @include transition();
  }

  .header .toolbar-background {
    background-color: $background-color-dark-theme;
    @include transition();
  }
  .tabs-md,
  .tabs-ios {
    .tabbar {
      background: $background-color-dark-theme;
      @include transition();
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #434c5a;
  }
  .swiper-pagination-bullet {
    background-color: #4f4f4e;
  }

  button.item.activated,
  .item-md.activated {
    background-color: #4f4f4e;
  }

  ion-searchbar {
    .searchbar-input-container {
      input.searchbar-input {
        background: $message-background-dark-theme;
        color: $text-color-dark-theme;
      }
    }
  }
  search-bar{
    background: $background-color-dark-theme;
    ion-input {
    background: $message-background-dark-theme;
    color: $text-color-dark-theme;
    }
  }
  // Lists -----
  .bp-list {
    .item {
      &.item-ios,
      &.item-md {
        border: 0;
        background-color: $background-color-dark-theme;
        color: $text-color-dark-theme;
        @include transition();
      }
    }
    .main-label {
      color: $text-color-dark-theme;
    }
    .main-note {
      color: $text-color-dark-theme;
    }
  }

  // Card
  action-card-v4.card {
    background-color: $background-secondary-dark-theme;
    .action-card__content {
      background-color: $background-secondary-dark-theme;
      .action-card__title {
        color: $text-color-dark-theme;
      }
    }
  }

  // Pages ----
  // Tab Home ----
  page-home {
    .total-amount-container {
      .total-amount-value {
        color: $text-color-dark-theme;
      }
    }

    .message {
      &-background {
        background-color: $message-background-dark-theme;
      }
    }
  }

  // Tab Wallets ------

  // Tab Cards ------

  // Tab Settings ------
  page-settings,
  page-about {
    .bp-list {
      ion-note.note {
        background: $background-secondary-dark-theme;
        color: color($colors, light-grey);
      }
    }
  }
  page-alt-currency,
  page-key-settings,
  page-wallet-information,
  page-wallet-addresses,
  page-wallet-settings {
    .bp-list.settings-list {
      ion-item.item,
      button.item {
        .item-inner {
          ion-note.note {
            background: $background-secondary-dark-theme;
            color: color($colors, light-grey);
          }
        }
      }
    }
  }
  page-addressbook-add {
    ion-item{
      background: $background-color-dark-theme;
      color: color($colors, light-grey);
    }
  }
  page-wallet-addresses {
      button.item {
            background: $background-color-dark-theme;
    }
  }
}
